/* p.destacado {
    color: orange;
}

p .destacado{
    color: chartreuse;
} */

/* p, .destacado{
    color: darkslateblue;
} */
.error{
    color: red;
}
.destacado{
    font-size: 35px;
}
.especial{
    font-weight: bold;
}
.error.destacado{
    color: blue;
}
#destacado{
    color:gold;
}
p > span{
    color: brown;
}